<apex:page showHeader="false" sidebar="false" standardStylesheets="false" standardController="Procedure__c" renderAs="pdf" applyBodyTag="false" applyHtmlTag="false">
    <head>
        <style>
            @page {
                
                 margin-top: 0.4cm;               
                 margin-bottom: 0.2cm;
                 margin-left: 0.5cm;               
                 margin-right: 0.5cm;
            }
        </style>
    </head>
    <body style="font-family: Arial Unicode MS;">
        
        <!--
             DIGITAL SIGNATURE
        -->
        
        <div name="signature-one" style="position: fixed;">
            <apex:image value="/servlet/servlet.FileDownload?file={!Procedure__c.Signature_Attachment_Id__c}" style="margin-top: 280px; margin-left: 120px;" height="60px" width="100px" rendered="{!Procedure__c.Signature_Attachment_Id__c != null}"/>
        </div>
        
        <div name="signature-two" style="position: fixed;">
            <apex:image value="/servlet/servlet.FileDownload?file={!Procedure__c.Signature_Attachment_Id__c}" style="margin-top: 800px; margin-left: 120px;" height="60px" width="100px" rendered="{!Procedure__c.Signature_Attachment_Id__c != null}"/>
        </div>
                   
        
        <!-- RECEIPT HEADER -->        
        <table style="width: 100%; font-size: 12px;">
            <tr>
                <td colspan="" style="text-align: left;">                    
                    <span style="font-weight: bolder !important; font-size: 18px;">{!UPPER(Procedure__c.Agency__r.Name)}</span><br/>
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingStreet}"/><br/>
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingCity}"/>,&nbsp;
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingState}"/>&nbsp;
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingPostalCode}"/><br/>
                    Tel:&nbsp;<apex:outputField value="{!Procedure__c.Agency__r.Phone}"/><br/>
                    Fax:&nbsp;<apex:outputField value="{!Procedure__c.Agency__r.Fax}"/><br/>
                    <apex:outputText value="{!Procedure__c.Agency__r.Website}"/><br/>
                </td>
                <td style="text-align: right; width: 50%; vertical-align: top;">
                    <!--
                    <apex:outputField value="{!Procedure__c.Barcode__c}"/>        
                    -->
                    <apex:image value="{!URLFOR(Procedure__c.Agency__r.Logo_URL__c)}" height="80px" width="80px"/>
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;" height="50px;">
                    <b>RECIBO DE PAGO</b>
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">
                     Cliente
                </td>
                <td rowspan="2" style="vertical-align: top;">
                    <table style="border-collapse: collapse; width: 100%;">
                        <tr>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px; background-color: rgb(225, 224, 224);">
                                Servicio
                            </td>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px;">
                                <apex:outputField value="{!Procedure__c.RecordType.Name}"/><br/>                    
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px; background-color: rgb(225, 224, 224);">
                                Referencia
                            </td>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px;">
                                <apex:outputField value="{!Procedure__c.Name}"/><br/>                    
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px; background-color: rgb(225, 224, 224);">
                                Fecha
                            </td>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px;"> 
                                <apex:outputField value="{!Procedure__c.CreatedDate}"/><br/>                    
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px; background-color: rgb(225, 224, 224); font-weight: bold;">
                                Total
                            </td>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px; font-weight: bold;">
                                <apex:outputField value="{!Procedure__c.Total__c}"/><br/>                    
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <apex:outputField value="{!Procedure__c.Customer__r.Name}"/><br/>
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingStreet}"/><br/>
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingCity}"/>,&nbsp;
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingState}"/>&nbsp;
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingPostalCode}"/><br/>
                </td>        
            </tr>
            <tr>
                <td style="width: 50%; height: 80px;  vertical-align: bottom;">
                    Firma del Cliente: ________________________
                    
                    
                    
                </td>
                <td style="text-align: right; vertical-align: bottom;">
                    Empleado: &nbsp; 
                    <apex:outputField value="{!Procedure__c.CreatedBy.Name}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="text-align: center">GRACIAS POR ELEGIRNOS</div>
                    <p style="font-size: 10px;">
                        La firma de este recibo nos autoriza a enviarle información promocional sobre nuestros productos y servicios.
                        De igual forma, usted nos autoriza a notificarle por email, llamadas telefónincas y/o mensajes de textos donde
                        tarifas adicionales impuestas por su proveedor de servicios pudieran aplicar.
                    </p>
                </td>
            </tr>
        </table>
        
        <br/>
        <br/>
        <hr/>
        <br/>
        <br/>    
        
        <!-- RECEIPT HEADER -->        
        <table style="width: 100%; font-size: 12px;">
            <tr>
                <td colspan="" style="text-align: left;">                    
                    <span style="font-weight: bolder !important; font-size: 18px;">{!UPPER(Procedure__c.Agency__r.Name)}</span><br/>
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingStreet}"/><br/>
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingCity}"/>,&nbsp;
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingState}"/>&nbsp;
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingPostalCode}"/><br/>
                    Tel:&nbsp;<apex:outputField value="{!Procedure__c.Agency__r.Phone}"/><br/>
                    Fax:&nbsp;<apex:outputField value="{!Procedure__c.Agency__r.Fax}"/><br/>
                    <apex:outputText value="{!Procedure__c.Agency__r.Website}"/><br/>
                </td>
                <td style="text-align: right; width: 50%; vertical-align: top;">
                    <!--
                    <apex:outputField value="{!Procedure__c.Barcode__c}"/>        
                    -->
                    <apex:image value="{!URLFOR(Procedure__c.Agency__r.Logo_URL__c)}" height="80px" width="80px"/>
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;" height="50px;">
                    <b>RECIBO DE PAGO</b>
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">
                     Cliente
                </td>
                <td rowspan="2" style="vertical-align: top;">
                    <table style="border-collapse: collapse; width: 100%;">
                        <tr>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px; background-color: rgb(225, 224, 224);">
                                Servicio
                            </td>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px;">
                                <apex:outputField value="{!Procedure__c.RecordType.Name}"/><br/>                    
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px; background-color: rgb(225, 224, 224);">
                                Referencia
                            </td>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px;">
                                <apex:outputField value="{!Procedure__c.Name}"/><br/>                    
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px; background-color: rgb(225, 224, 224);">
                                Fecha
                            </td>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px;"> 
                                <apex:outputField value="{!Procedure__c.CreatedDate}"/><br/>                    
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px; background-color: rgb(225, 224, 224); font-weight: bold;">
                                Total
                            </td>
                            <td style="width: 50%; border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: 1px solid #000000; padding-left: 4px; font-weight: bold;">
                                <apex:outputField value="{!Procedure__c.Total__c}"/><br/>                    
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <apex:outputField value="{!Procedure__c.Customer__r.Name}"/><br/>
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingStreet}"/><br/>
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingCity}"/>,&nbsp;
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingState}"/>&nbsp;
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingPostalCode}"/><br/>
                </td>        
            </tr>
            <tr>
                <td style="width: 50%; height: 80px; vertical-align: bottom;">
                    Firma del Cliente: ________________________
                </td>
                <td style="text-align: right; vertical-align: bottom;">
                    Empleado: &nbsp; 
                    <apex:outputField value="{!Procedure__c.CreatedBy.Name}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="text-align: center">GRACIAS POR ELEGIRNOS</div>
                    <p style="font-size: 10px;">
                        La firma de este recibo nos autoriza a enviarle información promocional sobre nuestros productos y servicios.
                        De igual forma, usted nos autoriza a notificarle por email, llamadas telefónincas y/o mensajes de textos donde
                        tarifas adicionales impuestas por su proveedor de servicios pudieran aplicar.
                    </p>
                </td>
            </tr>
        </table>
        
    </body>
    
                             
</apex:page>